[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
wtforms = "*"
flask-wtf = "*"
flask-login = "*"
python-dotenv = "*"
flask-socketio = "*"
eventlet = "==0.30.2"
gunicorn = "*"
gevent-websocket = "*"
importlib-metadata = "*"
gevent = "*"
setuptools = "*"
typing-extensions = "*"
werkzeug = "*"
zipp = "*"

[dev-packages]

[requires]
python_full_version = "3.9.4"
