.login-container {
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
}

.logout-container {
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
}

.user-greeting {
  padding-right: 20px;
  margin-bottom: 5px;
  text-align: right;
}
